@import '../../styles/_vars.scss';

.wrapper {
  flex-grow: 1;
}

.h2 {
  margin-top: 4px;
  margin-bottom: 20px;
}

.table {
  font-family: $defaultFontFamily;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.link-back {
  display: flex;
  align-items: center;
  gap: 5px;

  & span {
    color: $text-heading;
    font-family: $linkFontFamily;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
