@import '../../styles/_vars.scss';

.page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  & .page-info__text {
    color: $text-heading;
    text-align: center;
    font-family: $headingFontFamily;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 42px;
  }
}

.wrapper-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  background: $white;
  margin-top: 40px;
  margin-bottom: 20px;

  & .label-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-left: 13px;
    margin-right: 11px;
  }

  & .input-info {
    color: $gray;
    font-family: $defaultFontFamily;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-wrap: nowrap;
    margin-left: 11px;
    margin-right: 17px;
  }

  &:focus-within,
  &:active {
    outline: 2px solid #8686ff;
  }
}

input {
  font-family: $defaultFontFamily;
  color: $text-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;

  &::placeholder {
    color: $gray;
    font-family: $defaultFontFamily;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
}

.table {
  font-family: $defaultFontFamily;
  display: flex;
  flex-direction: column;
}
