@import '../../../styles/_vars.scss';

h1.heading {
  color: $text-heading;
  font-family: $headingFontFamily;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2.heading {
  color: $text-heading;
  font-family: $headingFontFamily;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
