@import '../../styles/_vars.scss';

.wrapper {
  flex-grow: 1;
}

h2 {
  margin-top: 4px;
  margin-bottom: 20px;
}

.table {
  font-family: $defaultFontFamily;
  display: flex;
  flex-direction: column;

  & thead {
    text-align: left;
    color: $text-third;
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    & .table-header {
      color: $text-third;
      font-size: 11px;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      padding-bottom: 10px;
      width: unset;
      height: unset;
      background: none;
    }
  }

  & tr {
    width: 100%;
    display: grid;
    grid-template-columns: 4px 1fr 115px 106px 167px 95px;
    align-items: center;
    gap: 10px;
    padding-right: 12px;
  }
}

.link-back {
  display: flex;
  align-items: center;
  gap: 5px;

  & span {
    color: $text-heading;
    font-family: $linkFontFamily;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
